@font-face {
    font-family: 'myFont';
    src: url(../Assets/SFPRODISPLAYREGULAR.OTF) format(opentype);
    font-weight: normal;
    font-style: normal;
}
/* ===== Global Styles ===== */
body{
    background-color: black;
    font-family: 'myFont';
}

#topLayer *{
    border-radius: 3px;
    margin:0 5px 0 5px;
}

/* ===== Container / Layout ===== */
#container{
    width: 70%;
    height: 600px;
    position: relative;
    padding: 20px;
    background-color: rgb(45, 43, 43);
    justify-self: center;
    margin: 0%;
}

#topLayer{
    left: 50px;
    width: 81.5%;
    display:flex;
    justify-content: space-between;
    justify-self: center;
    margin-top: 50px;
}
#rightPanel div{
    background-color: rgb(100, 100, 110);
    border-radius: 5px;
}
#logo{
    width: 50px;
    height: 40px;
}
#mood{
    width: 100px;
    padding-top: 4px;
    text-align: center;
}

#main{
    width: 100%;
    display:inline-flex;
    gap: 10px;
    justify-content: center;
}

#leftPanel{
    color: white;
    display: inline-flex;
}

#rightPanel{
    display: inline-flex;
    color: rgb(150, 157, 164);
    gap: 3px;
}
#weather, #singUp{
    width: 10px;
    background-color: rgb(100, 100, 110);
}

/* ===== Panels ===== */
#tasksPanel, #actionPanel{
    background-color:rgb(77, 77, 90) ;
    height: 400px;
}

#tasksPanel{
    width: 47%;
    margin: 20px 5px 40px 0;
    border-radius: 5%;
    height: 450px;
    overflow: scroll;
}

#actionPanel{
    width: 35%;
    height: 430px;
    margin: 20px 0 10px 5px;
    border-radius: 5%;
    padding-top: 20px;
    overflow: scroll;
}

/* ===== Panel Children ===== */
#taskBoxes{
    margin-top: 10px;
    padding-left: 15px;
    display: inline-flex;
    gap: 15px;
    flex-wrap: wrap;
}

.taskBox{
    display: block;
    color: white;
}
#taskBoxes .taskBox{
    padding-left: 10px;
    gap: 10px;
}
#taskBoxes .taskBox span{
    margin-top: 10px;
}
.circle{
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        transparent 40%,
        rgb(154, 245, 27) 60%
    );
}
.box{
    width: 140px;
    height: 150px;  
    border-radius: 3%;
    background-color: rgb(100, 100, 110);
}

#addTask{
    display: inline-flex;
    gap: 10px;
    justify-items:center;
    margin: 0 20px 20px 20px;
}

.actionElement2{
    display: block;
    margin-left: 20px;
}
#aTaskBox{
    align-items: flex-start;
}

/* ===== Typography / Text ===== */
#heading{
    margin-left: 15px;
    color:  rgb(154, 245, 27);
    border-radius: 2%;
}
.taskBox span{
    display: block;
}
#welcome span{
    display: block;
}
#taskDetails{
    color: white;
}

#actionPanel span{
    display: block;
    margin: 5px;
    font-size: 1.5rem;
    margin-left: 30px;
}


.taskBox span:nth-child(2){
    font-size: 0.8rem;
}
.taskBox span:nth-child(1){
    font-size: 2rem;
}

#box1{
    color: rgb(70, 137, 254);
    justify-content: flex-start;
    text-align: left;
}
#aTaskBox2, #stemood span{
    color: rgb(245, 175, 84);
}

/* ===== Buttons / Interactive Elements ===== */
#addButton{
    color: rgb(154, 245, 27);
    border: 3px dashed rgb(154, 245, 27);
    margin-left: 10px;
    text-align: center;
    align-content: center;
    font-size: 30px;
}

/* ===== Images / Icons ===== */
#emoji{
    width: 100px;
}   
#weather{
    width: 50px;
}
#singUp{
    width: 50px;
}
#weatherText{
    color: rgb(82, 82, 235);
}

#steWeather{
    display: block;
}

#weatherIcon, #steEmoji{
    width: 80px;
    height: 80px;
    margin-left: 80px;
    margin-bottom: 0%;
}

/* ===== Scrollbars ===== */
#tasksPanel::-webkit-scrollbar, #actionPanel::-webkit-scrollbar{
    display: none;           /* Chrome, Safari */
}


/* ===== Suggested Tasks Elements ===== */
.suggestedTasksElement{
    display: inline-flex;
    width: 300px;
    height:160px;
    padding: 10px;
    background-color: rgb(34, 33, 33);
    margin-bottom: 10px;
    border-radius: 5%;
    color: rgb(82, 82, 235);
}
.taskBox span:nth-child(1){
    font-size: 1.3rem;
}